################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AIMShipping/AIMShipping.ClientConsole/bin/Debug/netcoreapp3.1
/AIMShipping/AIMShipping.ClientConsole/obj
/AIMShipping/.vs/AIMShipping/v16
/.vs
/AIMShipping/AIMShipping.Configuration/obj/project.nuget.cache
/AIMShipping/AIMShipping.Configuration/obj/project.assets.json
/AIMShipping/AIMShipping.Configuration/obj/AIMShipping.Configuration.csproj.nuget.g.targets
/AIMShipping/AIMShipping.Configuration/obj/AIMShipping.Configuration.csproj.nuget.g.props
/AIMShipping/AIMShipping.Configuration/obj/AIMShipping.Configuration.csproj.nuget.dgspec.json
/AIMShipping/AIMShipping.Configuration/obj
/AIMShipping/AIMShipping.Configuration/bin/Debug/netcoreapp3.1
/AIMShipping/AIM.Shipping.Models/obj
/AIMShipping/AIM.Shipping.Models/bin/Debug/netcoreapp3.1
/AIMShipping/AIM.Shipping.Implementation/obj
/AIMShipping/AIM.Shipping.Implementation/bin/Debug/netcoreapp3.1
/AIMShipping/AIM.Shipping.Contracts/obj/Debug/netcoreapp3.1
/AIMShipping/AIM.Shipping.Contracts/bin/Debug/netcoreapp3.1
/AIMShipping/AIM.Common/obj
/AIMShipping/AIM.Common/bin/Debug/netcoreapp3.1
/AIMShipping/.vs/AIMShipping/DesignTimeBuild
/AIMShipping/.vs/AIMShipping
/AIMShipping/AIM.Shipping.Contracts/obj
/AIMShipping/AIMShipping.Tests/bin/Debug/netcoreapp3.1
/AIMShipping/AIMShipping.Tests/obj
