################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AIMShipping/AIMShipping.ClientConsole/bin/Debug/netcoreapp3.1
